<h2><%= @user.name %></h2>
<p><%= @user.address %></p>
<p><%= @user.email %></p>
<p><%= @user.payment_details %></p>
<p><%= @user.phone %></p>
<p><%= @user.role %></p>

<%#= link_to 'bikes on sale', user_bikes_path(current_user ) %>
