<br>
<div class="container">
  <p><%= cl_image_tag @user.avatar.key, height: 300, width: 500, crop: :fill %></p>
  <h2><%= @user.name %></h2>
  <p><%= @user.address %></p>
  <p><%= @user.email %></p>
  <p><%= @user.phone %></p>

  <h2>My reviews</h2>
  <% @reviews.each do |review| %>
    <li class="list-unstyled">
      <%= review.rating %>
      <%= review.content %>
    </li>

  <% end %>
<%= link_to 'Home', '/', class:"btn btn-danger" %>
</div>
