<br>
<div class="container">
  <h2 class = "text-center">Thank you for your purchase!</h2>
  <br>
  <ul>
    <% @orders.each do |order| %>
      <li class="list-unstyled">Brand: <%= order.bike.brand %></li>
      <li class="list-unstyled">Model: <%= order.bike.model %></li>
      <li class="list-unstyled">Price: $<%= order.bike.price %></li>
      <span>Seller's Name: </span>
      <%= order.bike.user.name %>
      <br>
      <br>
      <%= link_to "Reviews", new_order_review_path(order.id), class: "btn btn-danger" %>
      <hr>
      <br>
    <% end %>
  </ul>
  <br>
  <%= link_to 'Home', '/', class: "btn btn-danger" %>
</div>
