<br>
<div class="container">
  <h2 class = "text-center">Thanks for your purchases</h2>
  <br>
  <ul>
    <% @orders.each do |order| %>
      <li><%= order.bike.brand %>
      <%= order.bike.model %>
      <%= order.bike.price %></li>
      <span>Seller's Name: </span>
      <%= order.bike.user.name %>
      <%= link_to "Leave a reviews", new_order_review_path(order.id) %>
      <hr>
      <br>
    <% end %>
  </ul>
  <%= link_to 'Home', '/' %>
</div>
