<br>
<h1 class="text-center"><strong>Welcome to Bicify!</strong></h1>
<br>
<div class="container">
  <div class="">
    <!-- Search form -->
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
          class: "form-control",
          placeholder: "Find a bike"
      %>
    <% end %>
  </div>
</div>
<br>
<div class="container">
  <div class="row multi-columns-row">
    <% @bikes.each do |bike| %>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="card" style="">
          <ul class="">
            <li class="list-unstyled"><%= cl_image_tag bike.photos.first.key, height: 100, width: 100, crop: :fill %> </li>
            <li class="list-unstyled">Brand: <%= bike.brand %> </li>
            <li class="list-unstyled">Model: <%= bike.model %> </li>
            <li class="list-unstyled">Category: <%= bike.category %> </li>
            <li class="list-unstyled">WS: <%= bike.wheel_size %> </li>
            <li class="list-unstyled">- $<%= bike.price %> </li>
            <li class="list-unstyled"><%= link_to "More", bike_path(bike), class: "btn btn-danger"%> </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br><br>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
