<br>
<h1 class="text-center"><strong>Welcome to Bicify!</strong></h1>
<br>
<div class="container">
  <div class="">
    <!-- Search form -->
    <form class="form-inline">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </form>
  </div>
</div>
<br>
<div class="container">
  <div class="row multi-columns-row">
    <% @bikes.each do |bike| %>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="card" style="">
          <ul>
            <li class="list-unstyled"><%= cl_image_tag(bike.photo.key, height: 100, width: 100, crop: :fill) %>
            <li class="list-unstyled"><%= bike.brand %> </li>
            <li class="list-unstyled"><%= bike.model %> </li>
            <li class="list-unstyled"><%= bike.category %> </li>
            <li class="list-unstyled"><%= bike.wheel_size %> </li>
            <li class="list-unstyled"><%= bike.price %> </li>
            <li class="list-unstyled"><%= link_to "More", bike_path(bike) %> </li>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br><br>

