<br>
<div class="container">
  <h1 class = "text-center">My bikes on sale</h1>
  <br>
  <% @bikes.each do |bike| %>
    <li class="list-unstyled">
    <p><%= cl_image_tag bike.photos.first.key, height: 150, width: 200, crop: :scale, :border => { :width => 4, :color => 'black' } %></p>
    <p>Brand: <%= bike.brand %></p>
    <p>Model: <%= bike.model %></p>
    <p>Details: <%= bike.details %></p>
    <p>Category: <%= bike.category %></p>
    <p>Wheel Size: <%= bike.wheel_size %></p>
    <p>Price: $<%= bike.price %> </p></li>
    <p><%= link_to "Details", bike_path(bike), class: "btn btn-danger" %>
    <hr>
  <% end %>
</div>
