<%# @bikes.each do |bike| %>
  <li> <%= @bike.brand %>
  <%= @bike.photo %>
  <%= @bike.model %>
  <%= @bike.details %>
  <%= @bike.category %>
  <%= @bike.wheel_size %>
  <%= @bike.price %> </li>
<%# end %>
  <%= link_to "Buy", new_bike_order_path(@bike) %>
