<h2><%= @bike.brand %></h2>
  <h2><%= @bike.model %></h2>
  <p><%= @bike.details %></p>
  <p><%= @bike.category %></p>
  <p><%= @bike.wheel_size %></p>
  <p><%= @bike.price %></p>
  <%= link_to "Buy", new_bike_order_path(@bike) %>
